#vaktija {
  padding: 85px 0 65px 0;
  @media (max-width: 768px) {
    padding: 50px 0 65px 0 !important;
  }
}
.prayer-time-index {
  clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
  @media (max-width: 768px) {
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
  }
}
.time-card {
  transition: all 0.5s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

#location li a {
  color: gray;
}

.active-time {
  background: rgb(24, 210, 110) !important;
  color: white;
}
.p-xl-1 {
  width: 40%;
  @media (max-width: 768px) {
    width: 100% !important;
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 60% !important;
  }
}
#city-wrapper {
  font-size: 60px;
}
#currentTime {
  background: rgb(24, 210, 110) !important;
  color: white;
  border-radius: 48px;
  font-size: 23px;
  padding: 30px 20px 30px 20px;
  position: absolute;
  top: 25px;
  left: -157px;
}

.dark-theme::before {
  background: none !important;
}

.color-white {
  color: white;
}
.background-black {
  background: black;
  transition: background-color 0.5s ease;
}

.danger {
  color: red;
  font-size: 100px;
}
#izlazak_n {
  font-size: 15px;
}

#location-wrapper {
  @media (max-width: 768px) {
    border-radius: 10px !important;
  }
}
#date1 {
  @media (max-width: 768px) {
    display: block;
  }
}
#delimiter {
  @media (max-width: 768px) {
    display: none;
  }
}
#locations {
  text-align-last: center;
  @media (max-width: 768px) {
    margin-top: 5px;
  }
}
#ayat_prayer_time {
  @media (max-width: 768px) {
    display: none;
  }

  h2 {
    margin-bottom: 4px;
  }
}
#countdown {
  @media (max-width: 768px) {
    font-size: 70px !important;
  }

  @media (max-width: 768px) {
    margin-top: 0px !important;
  }
}
#city-wrapper {
  @media (max-width: 768px) {
    font-size: 40px !important;
  }
}
@media (max-width: 768px) {
  .time-card:hover {
    transform: 0;
  }
}
